[user]
email = gogitadzeniko0@gmail.com
name = Nikolaycc

[merge]
conflictStyle = diff3

[magit]
hideCampaign = true

[alias]
tree = log --graph --decorate --pretty=oneline --abbrev-commit --all

[init]
defaultBranch = main